@page "/admin/users/create"
@inject NavigationManager NavigationManager

<div class="container">
    <div id="admin-user-form" class="card">
        <h4 class="card-header">Create a New User</h4>
        <div class="card-body">
            <EditForm Model="@model" OnValidSubmit="MakeUser">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>First Name</label>
                    <InputText @bind-Value="model.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => model.FirstName)" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <InputText @bind-Value="model.LastName" class="form-control" />
                    <ValidationMessage For="@(() => model.LastName)" />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="model.Username" class="form-control" />
                    <ValidationMessage For="@(() => model.Username)" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="model.Email" class="form-control" />
                    <ValidationMessage For="@(() => model.Email)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => model.Password)" />
                </div>
                <button class="btn btn-primary">
                    Create New User
                </button>
                <NavLink href="/admin" class="btn btn-link">Cancel</NavLink>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private Models.User model = new Models.User();

    private IDatabaseService<User> userDB = new UserDatabaseService();
    private IDatabaseService<Profile> profileDB = new ProfileDatabaseService();

    void MakeUser()
    {
        userDB.OpenConnection();
        profileDB.OpenConnection();

        userDB.CreateRow(model);
        profileDB.CreateRow(model);

        userDB.CloseConnection();
        profileDB.CloseConnection();

        NavigationManager.NavigateTo("/admin");
    }
}