@page "/admin/users"

<div class="card-header table-header">
    <h1>Registered Users</h1>
</div>
<table class="table table-striped table-bordered table-dark">
    <thead>
        <th scope="col">id#</th>
        <th scope="col">Username</th>
        <th scope="col">Last Name</th>
        <th scope="col">First name</th>
        <th scope="col">Profile URL</th>
        <th scope="col">Posts</th>
        <th scope="col">Followers</th>
        <th scope="col">Coins</th>
    </thead>
    <tbody>
        @foreach (var profile in ProfileList())
        {
            <tr>
                <th scope="row">@profile.ProfileID</th>
                <td>@profile.Username</td>
                <td>@profile.LastName</td>
                <td>@profile.FirstName</td>
                <td><a href=@profile.ProfileURL>@profile.ProfileURL</a></td>
                <td>TO DO</td>
                <td>@profile.NumFollowers</td>
                <td>@profile.Coins</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private ProfileDatabaseService db = new ProfileDatabaseService();
    IList<Profile> ProfileList()
    {
        //db.OpenConnection();

        IList<Profile> profileList = db.GetAllRows();
        
        db.CloseConnection();

        return profileList;
    }
}