@page "/users/{Username}/posts/{PostID}"

<div class="container-fluid">
    <div class="post">
        <div class="post-header">
            <div class="row">
                <div class="col">
                    <h1 class="post-title"><a href=@GetPostUrl()>@GetPostTitle()</a></h1>
                    <h3 class="post-title"><em>@GetPostSubtitle()</em></h3>
                </div>

                <div class="col">
                    <img src=@ProfileDB.GetItem(PostDB.GetItem(PostID).Username).ProfileImageURL alt="user's profile image"
                        class="post-img rounded rounded-circle">
                    <h3 class="post-author"><a href=@ProfileUrl()>@@@Username</a></h3>
                </div>
            </div>
        </div>
        <div class="post-body">
            <div class="post-text">
                @GetPostContent()
            </div>
        </div>

        <div class="post-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <p class="text-muted">@GetUpvotes()</p>
                        <p class="text-muted">@GetReblogs()</p>
                    </div>

                    <div class="col">
                        <p class="text-muted">@GetDatePosted()</p>
                        <p class="text-muted"><em>Bloggo Web - USA</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string PostID { get; set; }

    private IDatabaseService<Profile, User> ProfileDB = new ProfileDatabaseService();
    private IDatabaseService<User, User> UserDB = new UserDatabaseService();
    private IDatabaseService<Models.Post, Models.Post> PostDB = new PostDatabaseService();

    public string GetPostTitle()
    {
        return PostDB.GetItem(PostID).Title;
    }

    public string GetPostSubtitle()
    {
        return PostDB.GetItem(PostID).Subtitle;
    }

    public string GetPostContent()
    {
      
        return PostDB.GetItem(PostID).Content;
    }

    public DateTime GetDatePosted()
    {
        return PostDB.GetItem(PostID).DatePosted; // gonna have to figure out date format
    }

    public int GetReblogs()
    {

        return PostDB.GetItem(PostID).Reblogs;
    }

    public int GetUpvotes()
    {
        return PostDB.GetItem(PostID).Upvotes;
    }

    public string ProfileUrl()
    {
        return $"{ProfileDB.GetItem(Username).ProfileURL}";
    }

    public string GetPostUrl()
    {
        return $"/users/{Username}/posts/{PostID}";
    }

    public void CloseDatabase() {
        UserDB.CloseConnection();
        ProfileDB.CloseConnection();
        PostDB.CloseConnection();
    }  
}