@page "/users/{Username}/posts/{PostID:int}"

<div class="container-fluid">
    <div class="post">
        <div class="post-header">
            <div class="row">
                <div class="col">
                    <h1 class="post-title"><a href=@GetPostUrl()>@AsyncUtil.RunSync(() => GetPostTitle())</a></h1>
                    <h3 class="post-title"><em>@AsyncUtil.RunSync(() => GetPostSubtitle())</em></h3>
                </div>

                <div class="col">
                    <img src=@AsyncUtil.RunSync(() => AccountService.profileDatabaseService.GetItem(Username)).ProfileImageURL alt="user's profile image"
                        class="post-img rounded rounded-circle">
                    <h3 class="post-author"><a href=@ProfileUrl()>@@@Username</a></h3>
                </div>
            </div>
        </div>
        <div class="post-body">
            <div class="post-text">
                @AsyncUtil.RunSync(() => GetPostContent())
            </div>
        </div>

        <div class="post-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <p class="text-muted">@AsyncUtil.RunSync(() => GetUpvotes())</p>
                        <p class="text-muted">@AsyncUtil.RunSync(() => GetReblogs())</p>
                    </div>

                    <div class="col">
                        <p class="text-muted">@AsyncUtil.RunSync(() => GetDatePosted())</p>
                        <p class="text-muted"><em>Bloggo Web - USA</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public int PostID { get; set; }

    async Task<string> GetPostTitle()
    {
        return (await AccountService.postDatabaseService.GetItem(PostID)).Title;
    }

    async Task<string> GetPostSubtitle()
    {
        return (await AccountService.postDatabaseService.GetItem(PostID)).Subtitle;
    }

    async Task<string> GetPostContent()
    {
      
        return (await AccountService.postDatabaseService.GetItem(PostID)).Content;
    }

    async Task<DateTime> GetDatePosted()
    {
        return (await AccountService.postDatabaseService.GetItem(PostID)).DatePosted; // gonna have to figure out date format
    }

    async Task<int> GetReblogs()
    {

        return (await AccountService.postDatabaseService.GetItem(PostID)).Reblogs;
    }

    async Task<int> GetUpvotes()
    {
        return (await AccountService.postDatabaseService.GetItem(PostID)).Upvotes;
    }

    async Task<string> ProfileUrl()
    {
        return $"{(await AccountService.profileDatabaseService.GetItem(Username)).ProfileURL}";
    }

    public string GetPostUrl()
    {
        return $"/users/{Username}/posts/{PostID}";
    }
}