@page "/account/register"
@inject NavigationManager NavigationManager

<div id="register-form" class="container container-fluid">
    <div class="card">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
            <EditForm Model="@model" OnValidSubmit="RegisterUser">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>First Name</label>
                    <InputText @bind-Value="model.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => model.FirstName)" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <InputText @bind-Value="model.LastName" class="form-control" />
                    <ValidationMessage For="@(() => model.LastName)" />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="model.Username" class="form-control" />
                    <ValidationMessage For="@(() => model.Username)" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="model.Email" class="form-control" />
                    <ValidationMessage For="@(() => model.Email)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => model.Password)" />
                </div>
                <button class="btn btn-primary">
                    Register
                </button>
                <NavLink href="account/login" class="btn btn-link">Cancel</NavLink>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private Models.User model = new Models.User();

    private IDatabaseService<User> userDB = new UserDatabaseService();
    private IDatabaseService<Profile> profileDB = new ProfileDatabaseService();
 

    void RegisterUser()
    {
        userDB.CreateRow(model);

        profileDB.CreateRow(model);

        userDB.CloseConnection();
        profileDB.CloseConnection();

        NavigationManager.NavigateTo("/account/register/thank-you");

    }
}